.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}

.infobox--red {
    border-color: red;
}

.infoBox__cases--green {
    color: lightgreen !important;
}

.infoBox__cases {
    color: #cc103c;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c756c;
    font-weight: 600 !important;
    font-size: 0.75rem !important;
    margin-bottom: 15px !important;
}